dist/
node_modules/
src-tauri/target/
src-tauri/gen/
src-tauri/icons/*
!src-tauri/icons/icon.ico
src-tauri/resources/seed.sqlite3
src-tauri/resources/seed.sqlite3-shm
src-tauri/resources/seed.sqlite3-wal
src-tauri/resources/seed.sqlite3.zip
src-tauri/resources/seed.sqlite3.zip.sha256
src-tauri/resources/seed.sqlite3.zip.temporary
src-tauri/resources/seed.sqlite3.zip.sha256.temporary
